extends ./layout.jade
block contenido
	section(class="col-md-12 jumbotron")
		div(class="col-sm-1 container margen")
			div(class="iconos" style="background: url(/imgs/icon2.png)")
		div(class="col-sm-8 container margen ")
			h1 Galeras 
			p Lexicón en Español
	aside(class="col-md-4 ")
		div(class="list-group")
			a(href="/homeLexicon/usuariolexicon/password" class=" list-group-item active") Cambiar contraseña
			a(href="/homeLexicon/crearVersiones" class=" list-group-item") Crear nueva versión del lexicón
		if confirmacion
			div(class="container col-sm-12")
				each msm in confirmacion					
					center
						strong
							p(class="mensajes")!= msm
	section(class="col-md-8 ")
		article(class="clearfix")
			div(class="col-sm-12 well a")
				center
					p(class="ptitulo") Administracción del lexicón
					p(class="text-justify") Gestione las versiones del lexicón, usted podra agregar, editar y eliminar palabras de las versiones del lexicón diferente a la original.
		div(class="form-group  col-sm-12")
			center
				p(class="ptitulo") Seleccione la versión del lexicón
			div(class="container col-sm-12")
				div(class="table-responsive")
					table(class="table table-bordered  table-hover table-condensed")
						thead
							tr(class="titulo_tabla")
								th 
									center
										p(class="small") No
								th
									center
										p(class="small") Versión
								th
									center
										p(class="small") Descripción
						tbody
							each version, i in versiones
								tr
									td
										center
											p(class="small")=i+1
									td
										center
											a(href="/homeLexicon/lexicon/"+version.n_version) Lexicón V#{version.n_version}
									td
										center
											p(class="small")=version.s_descripcion
	section(class="col-md-12")
		center
			br
			p(class="small") © 2017 Copyright Grupo de Investigación Gesdatos - Universidad Distrital Francisco José de Caldas
	script(src="/bootstrap/js/jquery.js")
	script(src="/bootstrap/js/bootstrap.min.js")