extends ../layout.jade
block contenido
	section(class="col-md-12 jumbotronformularios")
		div(class="col-sm-12 jumbotronformularios container ")
			center
				h4(class="ptitulo") Agregar llaves API de Twitter
	section(class="col-md-12")
		div(class="col-sm-2")
		div(class="col-sm-8 formularios container")
			form(method="post" action="/home/llaves/crear" class="form-inline")
				div(class="col-sm-12 form-group")
					label Consumer Key:
					input(type="text" class=" divformulario input-md chat-input" name="consumer" id = "consumer" required pattern="[A-Za-z0-9]{25,25}" title="consumerKey 25 caracteres, sin espacios en blanco")
				div(class="col-sm-11 form-group ")
					br
				div(class="col-sm-12 form-group")
					label Consumer Secret:
					input(type="text" class=" divformulario input-md chat-input" name="consumersecret" id = "consumersecret" required pattern="[A-Za-z0-9]{50,50}" title="consumerSecret 50 caracteres, sin espacios en blanco")
					br
				div(class="col-sm-6 form-group")
					br
					center
						button(class="btn btn-primary login-form-control " type="submit") Guardar
				div(class="col-sm-6 form-group")
					br
					center
						a(class=" btn btn-primary" href="/home/llaves/lista") Regresar
		if confirmacion
			div(class="container col-sm-12")
				each msm in confirmacion					
					center
						strong
							p!= msm.msg
	section(class="col-md-12 footer")
		center
			p(class="small") © 2017 Copyright Grupo de Investigación Gesdatos - Universidad Distrital Francisco José de Caldas
	script(src="/bootstrap/js/jquery.js")
	script(src="/bootstrap/js/bootstrap.min.js")